@using SomerenApp.Models.ViewModels
@model AccompanimentCreateDeleteViewModel
@{
	ViewData["Title"] = "Create Accompaniment";
	string? errorMessage = (string)ViewData["ErrorMessage"];
}
<h4>@errorMessage</h4>
<h1>Add accompaniment</h1>
<form action="/Lecturers/CreateAccompaniment" method="post">
	<p>Lecturer: @Model.Lecturer.FirstName @Model.Lecturer.LastName</p>
	<p>Lecturer number: @Model.Lecturer.LecturerNumber</p>
	<input hidden type="number" name="Activity.ActivityNumber" value="@Model.Activity.ActivityNumber" />
	<input hidden type="text" id="FirstName" name="FirstName" value="@Model.Activity.ActivityType" />
	<input hidden type="text" name="LecturerNumber" value="@Model.Activity.ActivityDate" />

	<p>Activity: @Model.Activity.ActivityType</p>
	<p>Date: @Model.Activity.ActivityDate</p>
	<input hidden type="number" name="Lecturer.LecturerNumber" value="@Model.Lecturer.LecturerNumber" />
	<input hidden type="text" name="Lecturer.FirstName" required value="@Model.Lecturer.FirstName" />
	<input hidden type="text" name="Lecturer.LastName" required value="@Model.Lecturer.LastName" />
	<input hidden type="number" name="Lecturer.Age" required value="@Model.Lecturer.Age" />
	<input hidden type="tel" name="Lecturer.PhoneNumber" required value="@Model.Lecturer.PhoneNumber" />

	<button type="submit" class="btn btn-primary">Add Accompaniment</button>
</form>
<a href="/Activities/Index">Back to List</a>