@using SomerenApp.Models.ViewModels
@model AccompanimentCreateDeleteViewModel
@{
	ViewData["Title"] = "Add Supervisor";
	string? errorMessage = (string)ViewData["ErrorMessage"];
}
<h4>@errorMessage</h4>
<h1>Add Supervisor</h1>
<table class="table">
	<thead class="table-dark">
		<tr>
			<th>Activity Type</th>
			<th>Activity Date</th>
			<th>Lecturer Name</th>
		</tr>
	</thead>
	<tbody class="bg-opacity-10 bg-black">
		<tr>
			<td>@Model.Activity.ActivityType</td>
			<td>@Model.Activity.ActivityDate</td>
			<td>@Model.Lecturer.FirstName @Model.Lecturer.LastName</td>
		</tr>
	</tbody>
</table>
<form action="/Accompaniments/Create" method="post">
	<input hidden type="number" name="Lecturer.LecturerNumber" value="@Model.Lecturer.LecturerNumber" />
	<input hidden type="text" name="Lecturer.FirstName" required value="@Model.Lecturer.FirstName" />
	<input hidden type="text" name="Lecturer.LastName" required value="@Model.Lecturer.LastName" />
	<input hidden type="number" name="Lecturer.Age" required value="@Model.Lecturer.Age" />
	<input hidden type="tel" name="Lecturer.PhoneNumber" required value="@Model.Lecturer.PhoneNumber" />
	
	<input hidden type="number" name="Activity.ActivityNumber" value="@Model.Activity.ActivityNumber" />
	<input hidden type="text" name="Activity.ActivityType" value="@Model.Activity.ActivityType" />
	<input hidden type="text" name="Activity.ActivityDate" value="@Model.Activity.ActivityDate" />
	
	<button type="submit" class="btn btn-primary">Add Supervisor</button>
</form>
<a class="btn btn-dark" href="/Accompaniments/Index?activityNumber=@Model.Activity.ActivityNumber">Back to List</a>
